<%= form_for(@server) do |f| %>
  <% if @server.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@server.errors.count, "error") %> prohibited this server from being saved:</h2>

      <ul>
      <% @server.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h2>Account</h2>
  <div class="field">
    <%= text_field_tag :api_key %>
  </div>

  <h2>Associated roles</h2>
  <div class="field">
    <%= f.collection_check_boxes(:role_ids, @roles, :id, :name) %>
  </div>

  <h2>Server information</h2>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, value: 'new-server' %>
    <small>Only valid hostname characters are allowed. (a-z, A-Z, 0-9, . and -)</small>
  </div>
  <div class="field">
    <%= f.label :size %><br>
    <%= f.text_field :size, value: '512mb' %>
  </div>
  <div class="field">
    <%= f.label :image %><br>
      <%= f.text_field :image, value: '5588928' %>
  </div>
  <div class="field">
    <%= f.label :region %><br>
    <%= f.text_field :region, value: 'ams2' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
